<div class="row no-gutters grisf" >
    <div class="col-sm-6 col-md-8"><span><p style="font-size: small;">
      <strong>Bankapp<br> © Powered by Conecta Mexico</strong> <br></p>
      <p style="font-size: small;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ipsum, commodi aliquam ea modi reiciendis aspernatur sapiente at, sunt beatae maiores nam ratione, architecto fugiat. Ipsam nisi veritatis amet maxime.
    </p></span>
  </div>
    <div class="col-6 col-md-4" style="text-align: end;">
      <img src="/assets/bankgris.png" position="end" width="30%" alt="" class="navbar-text">
    </div>
  </div>
  
  