<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <div class="card"  style="width: 20rem; height: 7rem; padding: 1rem; ">
            <div class="card-body">
              <div class="row">
                <div class="col lazul" style="font-size: 8.8pt;">
                  <strong>SALDO GENERAL EN CUENTAS</strong>
                </div>
                <div class="col laqua" style="font-size: 18pt;">
                  <!-- <strong>$ {{this.saldogral}}.00</strong> -->
                  <strong>$ 1000.00</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 20rem; height: 7rem; padding: 1rem; ">
            <div class="card-body">
              <div class="row">
                <div class="col lazul" style="font-size: 8.8pt;">
                  <strong>TOTAL DE INGRESOS</strong>
                </div>
                <div class="col lgris" style="font-size: 18pt;">
                  <!-- <strong>$ {{this.ingr}}.00</strong> -->
                  <strong>$ 2000.00</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 20rem; height: 7rem; padding: 1rem; ">
            <div class="card-body">
              <div class="row">
                <div class="col lazul" style="font-size: 8.8pt;">
                  <strong>TOTAL DE GASTOS</strong>
                </div>
                <div class="col lgris" style="font-size: 18pt;">
                  <!-- <strong>$ {{this.gast}}.00</strong> -->
                  <strong>$ 3000.00</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>
  </div>