<nav class="nav nav-pills flex-column backn flex-sm-row">
    <a class="flex-sm-fill nav-link">
      <img src="/assets/bankcompleto.png" position="end" width="90%" class="img-fluid" alt="Responsive image"
        class="navbar-text">
    </a>
    <a class="flex-sm-fill text-sm-center nav-link active" href="#"><strong>MIS CUENTAS</strong></a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#"><strong>ENVIAR DINERO</strong></a>
    <a class="flex-sm-fill  nav-link disabled" tabindex="-1">
     <!-- aqui mandamos llamar la informacion con las variables asignadas --> 
      <p style="font-size: small; text-align: end;"><br><strong>{{this.nom}}</strong><br>{{this.uSes}}</p>
    </a>
  </nav>