<p>movimientos works!</p>

<table class="table blanco" >
    <thead>
      <tr>
        <th scope="col-md-auto">Fecha</th>
        <th scope="col">Descripción</th>
        <th scope="col-md-auto">Monto</th>
      </tr>
    </thead>
    <!-- <tbody *ngFor="let mov of movimiento"> -->
        <tbody>
      <tr>
        <!-- <td>{{mov.fecha}}</td>
        <td>{{mov.descripcion}}</td>
        <td [ngStyle]="{'color' :mov.tipo === 'abono' ? 'green' : 'red'}"><div > {{mov.monto}}</div></td> -->
        <td>21/11/2018</td>
        <td>Compra Uber eats</td>
        <td><div > 300</div></td>
      </tr>
    </tbody>
  </table>